<app-header (btnClick)="fnFilterData($event)"></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div *ngFor="let user of userArr">
        <div class="mt-3 card">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title w-75 float-left">{{ user.Name }}</h5>
              <div class="card-text w-25 float-right">
                <img
                  src="{{ user.IconUrl }}"
                  alt="Avatar"
                  class="avatar pull-right"
                  width="70px"
                  height="70px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
